<div class="row">
    <div class="col-lg-8">
        <section class="widget">
            <header>
                <h4>
                    Visits
                    <small>
                        from the last three months
                    </small>
                </h4>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body no-margin">
                <div id="visits-chart" class="chart visits-chart">
                    <svg class="nvd3-svg"><g class="nvd3 nv-wrap nv-lineChart" transform="translate(25,28)"><g><rect width="664" height="175" style="opacity: 0;"></rect><g class="nv-x nv-axis nvd3-svg" transform="translate(0,147)"><g class="nvd3 nv-wrap nv-axis"><g><g class="tick" transform="translate(78.52379118454661,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text dy=".71em" y="7" style="text-anchor: middle;" x="0">Nov 24</text></g><g class="tick" transform="translate(211.02698403256707,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text dy=".71em" y="7" style="text-anchor: middle;" x="0">Dec 05</text></g><g class="tick" transform="translate(343.5301768805875,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text dy=".71em" y="7" style="text-anchor: middle;" x="0">Dec 17</text></g><g class="tick" transform="translate(476.0333697286079,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text dy=".71em" y="7" style="text-anchor: middle;" x="0">Dec 29</text></g><g class="tick" transform="translate(608.5365625766284,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text dy=".71em" y="7" style="text-anchor: middle;" x="0">Jan 09</text></g><path class="domain" d="M0,0V0H664V0"></path><text class="nv-axislabel" text-anchor="middle" y="36" x="332"></text></g></g></g><g class="nv-y nv-axis nvd3-svg"><g class="nvd3 nv-wrap nv-axis"><g><g class="tick" transform="translate(0,107.62500000000001)" style="opacity: 1;"><line x2="664" y2="0"></line><text dy=".32em" x="-3" style="text-anchor: end;" y="0">100</text></g><g class="tick" transform="translate(0,63.875)" style="opacity: 1;"><line x2="664" y2="0"></line><text dy=".32em" x="-3" style="text-anchor: end;" y="0">200</text></g><g class="tick" transform="translate(0,20.124999999999993)" style="opacity: 1;"><line x2="664" y2="0"></line><text dy=".32em" x="-3" style="text-anchor: end;" y="0">300</text></g><path class="domain" d="M0,0H0V147H0"></path><text class="nv-axislabel" transform="rotate(-90)" y="-50" x="-73.5" style="text-anchor: middle;"></text></g></g></g><g class="nv-linesWrap nvd3-svg"><g class="nvd3 nv-wrap nv-line" transform="translate(0,0)"><defs><clipPath id="nv-edge-clip-56719"><rect width="664" height="147"></rect></clipPath></defs><g clip-path=""><g class="nv-groups"><g class=" nv-group nv-series-0" style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(98, 148, 201); stroke: rgb(98, 148, 201);"><path class="nv-area" d="M0,147L22.896551724137932,147L45.793103448275865,147L68.6896551724138,147L91.58620689655173,147L114.48275862068967,147L137.3793103448276,147L160.27586206896552,147L183.17241379310346,147L206.0689655172414,147L228.96551724137933,147L251.86206896551724,147L274.7586206896552,147L297.6551724137931,147L320.55172413793105,147L343.448275862069,147L366.3448275862069,147L389.24137931034477,147L412.1379310344828,147L435.0344827586207,147L457.93103448275866,147L480.82758620689657,147L503.7241379310345,147L526.6206896551724,147L549.5172413793103,147L572.4137931034483,147L595.3103448275862,147L618.2068965517241,147L641.1034482758621,147L664,147L664,146.5625L641.1034482758621,143.5L618.2068965517241,143.9375L595.3103448275862,146.125L572.4137931034483,143.5L549.5172413793103,145.25L526.6206896551724,87.0625L503.7241379310345,95.375L480.82758620689657,143.9375L457.93103448275866,147L435.0344827586207,143.5L412.1379310344828,146.5625L389.24137931034477,147L366.3448275862069,144.375L343.448275862069,143.0625L320.55172413793105,146.125L297.6551724137931,146.5625L274.7586206896552,143.0625L251.86206896551724,145.25L228.96551724137933,146.125L206.0689655172414,143.9375L183.17241379310346,147L160.27586206896552,143.5L137.3793103448276,142.1875L114.48275862068967,141.75L91.58620689655173,132.125L68.6896551724138,115.0625L45.793103448275865,96.6875L22.896551724137932,83.5625L0,84.87499999999999Z"></path><path class="nv-line" d="M0,84.87499999999999L22.896551724137932,83.5625L45.793103448275865,96.6875L68.6896551724138,115.0625L91.58620689655173,132.125L114.48275862068967,141.75L137.3793103448276,142.1875L160.27586206896552,143.5L183.17241379310346,147L206.0689655172414,143.9375L228.96551724137933,146.125L251.86206896551724,145.25L274.7586206896552,143.0625L297.6551724137931,146.5625L320.55172413793105,146.125L343.448275862069,143.0625L366.3448275862069,144.375L389.24137931034477,147L412.1379310344828,146.5625L435.0344827586207,143.5L457.93103448275866,147L480.82758620689657,143.9375L503.7241379310345,95.375L526.6206896551724,87.0625L549.5172413793103,145.25L572.4137931034483,143.5L595.3103448275862,146.125L618.2068965517241,143.9375L641.1034482758621,143.5L664,146.5625"></path></g><g class=" nv-group nv-series-1" style="stroke-opacity: 1; stroke-width: 1.5; fill-opacity: 0.5; fill: rgb(89, 188, 121); stroke: rgb(89, 188, 121);"><path class="nv-line" d="M0,52.93750000000001L22.896551724137932,39.37500000000001L45.793103448275865,41.125L68.6896551724138,49.43750000000001L91.58620689655173,50.3125L114.48275862068967,62.56250000000001L137.3793103448276,86.625L160.27586206896552,88.375L183.17241379310346,79.1875L206.0689655172414,79.1875L228.96551724137933,89.25000000000001L251.86206896551724,108.9375L274.7586206896552,125.125L297.6551724137931,137.8125L320.55172413793105,46.375L343.448275862069,145.25L366.3448275862069,143.9375L389.24137931034477,144.8125L412.1379310344828,144.8125L435.0344827586207,146.5625L457.93103448275866,143.0625L480.82758620689657,139.125L503.7241379310345,123.375L526.6206896551724,89.25000000000001L549.5172413793103,32.375L572.4137931034483,0L595.3103448275862,14.874999999999996L618.2068965517241,62.56250000000001L641.1034482758621,109.375L664,135.625"></path></g></g><g class="nv-scatterWrap nvd3-svg" clip-path=""><g class="nvd3 nv-wrap nv-scatter nv-chart-56719" transform="translate(0,0)"><defs><clipPath id="nv-edge-clip-56719"><rect width="664" height="147"></rect></clipPath></defs><g clip-path=""><g class="nv-groups"><g class="nv-group nv-series-0" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(98, 148, 201); fill: rgb(98, 148, 201);"><path transform="translate(0,84.87499999999999)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-0 nv-noninteractive"></path><path transform="translate(22.896551724137932,83.5625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-1 nv-noninteractive"></path><path transform="translate(45.793103448275865,96.6875)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-2 nv-noninteractive"></path><path transform="translate(68.6896551724138,115.0625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-3 nv-noninteractive"></path><path transform="translate(91.58620689655173,132.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-4 nv-noninteractive"></path><path transform="translate(114.48275862068967,141.75)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-5 nv-noninteractive"></path><path transform="translate(137.3793103448276,142.1875)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-6 nv-noninteractive"></path><path transform="translate(160.27586206896552,143.5)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-7 nv-noninteractive"></path><path transform="translate(183.17241379310346,147)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-8 nv-noninteractive"></path><path transform="translate(206.0689655172414,143.9375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-9 nv-noninteractive"></path><path transform="translate(228.96551724137933,146.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-10 nv-noninteractive"></path><path transform="translate(251.86206896551724,145.25)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-11 nv-noninteractive"></path><path transform="translate(274.7586206896552,143.0625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-12 nv-noninteractive"></path><path transform="translate(297.6551724137931,146.5625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-13 nv-noninteractive"></path><path transform="translate(320.55172413793105,146.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-14 nv-noninteractive"></path><path transform="translate(343.448275862069,143.0625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-15 nv-noninteractive"></path><path transform="translate(366.3448275862069,144.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-16 nv-noninteractive"></path><path transform="translate(389.24137931034477,147)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-17 nv-noninteractive"></path><path transform="translate(412.1379310344828,146.5625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-18 nv-noninteractive"></path><path transform="translate(435.0344827586207,143.5)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-19 nv-noninteractive"></path><path transform="translate(457.93103448275866,147)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-20 nv-noninteractive"></path><path transform="translate(480.82758620689657,143.9375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-21 nv-noninteractive"></path><path transform="translate(503.7241379310345,95.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-22 nv-noninteractive"></path><path transform="translate(526.6206896551724,87.0625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-23 nv-noninteractive"></path><path transform="translate(549.5172413793103,145.25)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-24 nv-noninteractive"></path><path transform="translate(572.4137931034483,143.5)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-25 nv-noninteractive"></path><path transform="translate(595.3103448275862,146.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-26 nv-noninteractive"></path><path transform="translate(618.2068965517241,143.9375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-27 nv-noninteractive"></path><path transform="translate(641.1034482758621,143.5)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-28 nv-noninteractive"></path><path transform="translate(664,146.5625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-29 nv-noninteractive"></path></g><g class="nv-group nv-series-1" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(89, 188, 121); fill: rgb(89, 188, 121);"><path transform="translate(0,52.93750000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-0 nv-noninteractive"></path><path transform="translate(22.896551724137932,39.37500000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-1 nv-noninteractive"></path><path transform="translate(45.793103448275865,41.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-2 nv-noninteractive"></path><path transform="translate(68.6896551724138,49.43750000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-3 nv-noninteractive"></path><path transform="translate(91.58620689655173,50.3125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-4 nv-noninteractive"></path><path transform="translate(114.48275862068967,62.56250000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-5 nv-noninteractive"></path><path transform="translate(137.3793103448276,86.625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-6 nv-noninteractive"></path><path transform="translate(160.27586206896552,88.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-7 nv-noninteractive"></path><path transform="translate(183.17241379310346,79.1875)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-8 nv-noninteractive"></path><path transform="translate(206.0689655172414,79.1875)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-9 nv-noninteractive"></path><path transform="translate(228.96551724137933,89.25000000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-10 nv-noninteractive"></path><path transform="translate(251.86206896551724,108.9375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-11 nv-noninteractive"></path><path transform="translate(274.7586206896552,125.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-12 nv-noninteractive"></path><path transform="translate(297.6551724137931,137.8125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-13 nv-noninteractive"></path><path transform="translate(320.55172413793105,46.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-14 nv-noninteractive"></path><path transform="translate(343.448275862069,145.25)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-15 nv-noninteractive"></path><path transform="translate(366.3448275862069,143.9375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-16 nv-noninteractive"></path><path transform="translate(389.24137931034477,144.8125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-17 nv-noninteractive"></path><path transform="translate(412.1379310344828,144.8125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-18 nv-noninteractive"></path><path transform="translate(435.0344827586207,146.5625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-19 nv-noninteractive"></path><path transform="translate(457.93103448275866,143.0625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-20 nv-noninteractive"></path><path transform="translate(480.82758620689657,139.125)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-21 nv-noninteractive"></path><path transform="translate(503.7241379310345,123.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-22 nv-noninteractive"></path><path transform="translate(526.6206896551724,89.25000000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-23 nv-noninteractive"></path><path transform="translate(549.5172413793103,32.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-24 nv-noninteractive"></path><path transform="translate(572.4137931034483,0)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-25 nv-noninteractive"></path><path transform="translate(595.3103448275862,14.874999999999996)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-26 nv-noninteractive"></path><path transform="translate(618.2068965517241,62.56250000000001)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-27 nv-noninteractive"></path><path transform="translate(641.1034482758621,109.375)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-28 nv-noninteractive"></path><path transform="translate(664,135.625)" d="M0,2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,-2.256758334191025A2.256758334191025,2.256758334191025 0 1,1 0,2.256758334191025Z" class="nv-point nv-point-29 nv-noninteractive"></path></g></g><g class="nv-point-paths"></g></g><g class="nv-point-clips"></g></g></g></g></g></g><g class="nv-legendWrap nvd3-svg" transform="translate(0,-28)"><g class="nvd3 nv-legend" transform="translate(0,3)"><g transform="translate(533.220703125,3)"><g class="nv-series" transform="translate(0,5)"><circle class="nv-legend-symbol" r="5" style="stroke-width: 2; fill: rgb(98, 148, 201); fill-opacity: 1; stroke: rgb(98, 148, 201);"></circle><text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8" fill="#000">Unique</text></g><g class="nv-series" transform="translate(71.228515625,5)"><circle class="nv-legend-symbol" r="5" style="stroke-width: 2; fill: rgb(89, 188, 121); fill-opacity: 1; stroke: rgb(89, 188, 121);"></circle><text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8" fill="#000">Visits</text></g></g></g></g><g class="nv-interactive"><g class=" nv-wrap nv-interactiveLineLayer"><g class="nv-interactiveGuideLine"></g></g></g></g></g></svg>
                    <div class="nvtooltip xy-tooltip nv-pointer-events-none" id="nvtooltip-76240" style="top: 0px; left: 0px; opacity: 0; transform: translate(539.266px, 91.5px) !important;"><table><thead><tr><td colspan="3"><strong class="x-value">Dec 03</strong></td></tr></thead><tbody><tr><td class="legend-color-guide"><div style="background-color: rgb(98, 148, 201);"></div></td><td class="key">Unique</td><td class="value">10</td></tr><tr><td class="legend-color-guide"><div style="background-color: rgb(89, 188, 121);"></div></td><td class="key">Visits</td><td class="value">165</td></tr></tbody></table></div>
                </div>
                <div class="visits-info well well-sm">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
                            <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
                            <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                            <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                            <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>
                    Traffic Sources
                    <small>
                        One month tracking
                    </small>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-table-overflow">
                <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                    <thead>
                        <tr>
                            <th class="source-col-header">Source</th>
                            <th>Amount</th>
                            <th>Change</th>
                            <th class="hidden-xs">Percent.,%</th>
                            <th>Target</th>
                            <th class="chart-col-header hidden-xs">Trend</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="label label-important">Direct</span></td>
                            <td>713</td>
                            <td><strong class="color-green">+53</strong></td>
                            <td class="hidden-xs">+12</td>
                            <td>900</td>
                            <td class="chart-cell hidden-xs">
                                <div id="direct-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-warning">Refer</span></td>
                            <td>562</td>
                            <td><strong>+84</strong></td>
                            <td class="hidden-xs">+64</td>
                            <td>500</td>
                            <td class="chart-cell hidden-xs">
                                <div id="refer-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-success">Social</span></td>
                            <td>148</td>
                            <td><strong class="color-red">-12</strong></td>
                            <td class="hidden-xs">+3</td>
                            <td>180</td>
                            <td class="chart-cell hidden-xs">
                                <div id="social-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-info">Search</span></td>
                            <td>653</td>
                            <td><strong class="color-green">+23</strong></td>
                            <td class="hidden-xs">+43</td>
                            <td>876</td>
                            <td class="chart-cell hidden-xs">
                                <div id="search-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-inverse">Internal</span></td>
                            <td>976</td>
                            <td><strong>+101</strong></td>
                            <td class="hidden-xs">-7</td>
                            <td>844</td>
                            <td class="chart-cell hidden-xs">
                                <div id="internal-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="widget large">
            <header>
                <h4>
                    Chat
                </h4>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <div id="chat" class="chat">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 240px;">
                        <div id="chat-messages" class="chat-messages" style="overflow: hidden; width: auto; height: 240px;">
                            <div class="chat-message">
                                <div class="sender pull-left">
                                    <div class="icon">
                                        <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                    </div>
                                    <div class="time">
                                        4 min
                                    </div>
                                </div>
                                <div class="chat-message-body">
                                    <span class="arrow"></span>
                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                    <div class="text">
                                        Hey Sam, how is it going? But I must explain to you how all this mistaken
                                        idea of denouncing of a pleasure and praising pain was born
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <div class="sender pull-right">
                                    <div class="icon">
                                        <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                    </div>
                                    <div class="time">
                                        3 min
                                    </div>
                                </div>
                                <div class="chat-message-body on-left">
                                    <span class="arrow"></span>
                                    <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                    <div class="text">
                                        Pretty good. Doing my homework..  No one rejects, dislikes, or avoids
                                        pleasure itself, because it is pleasure, but because
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <div class="sender pull-left">
                                    <div class="icon">
                                        <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                    </div>
                                    <div class="time">
                                        2 min
                                    </div>
                                </div>
                                <div class="chat-message-body">
                                    <span class="arrow"></span>
                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                    <div class="text">
                                        Any chance to go out? To take a trivial example, which of us ever undertakes
                                        laborious physical exercise, except to obtain some advantage
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <div class="sender pull-right">
                                    <div class="icon">
                                        <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                    </div>
                                    <div class="time">
                                        2 min
                                    </div>
                                </div>
                                <div class="chat-message-body on-left">
                                    <span class="arrow"></span>
                                    <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                    <div class="text">
                                        .. Maybe 40-50 mins. I don't know exactly. On the other hand, we denounce
                                        with righteous indignation and dislike men who are so beguiled
                                    </div>
                                </div>
                            </div>
                            <div class="chat-message">
                                <div class="sender pull-left">
                                    <div class="icon">
                                        <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                    </div>
                                    <div class="time">
                                        1 min
                                    </div>
                                </div>
                                <div class="chat-message-body">
                                    <span class="arrow"></span>
                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                    <div class="text">
                                        Anyway sounds great! These cases are perfectly simple and easy to
                                        distinguish.
                                    </div>
                                </div>
                            </div>
                        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 145.823px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                    <footer class="chat-footer row">
                        <div class="col-xs-9">
                            <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="widget large">
            <header>
                <h4>
                    Feed
                    <span class="label label-success">412</span>
                </h4>
                <div class="actions">
                    <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                </div>
            </header>
            <div class="body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 280px;">
                    <div id="feed" class="feed" style="overflow: hidden; width: auto; height: 280px;">
                        <div class="wrapper">
                            <div class="vertical-line"></div>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-comment"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                    </div>
                                    <div class="time pull-left">
                                        3 h
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-check color-green"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                    </div>
                                    <div class="time pull-left">
                                        10 h
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <img src="@Url.Content("~/Images/1.png")" class="img-circle" alt="">
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        New user <a href="#">Greg Wilson</a> registered.
                                    </div>
                                    <div class="time pull-left">
                                        Today
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-bolt color-orange"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        Server fail level raises above normal. <a href="#">See logs</a> for details.
                                    </div>
                                    <div class="time pull-left">
                                        Yesterday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-database"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Database usage report</a> is ready.
                                    </div>
                                    <div class="time pull-left">
                                        Yesterday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Order #233985</a> needs additional processing.
                                    </div>
                                    <div class="time pull-left">
                                        Wednesday
                                    </div>
                                </div>
                            </section>
                            <section class="feed-item">
                                <div class="icon pull-left">
                                    <i class="fa fa-arrow-down"></i>
                                </div>
                                <div class="feed-item-body">
                                    <div class="text">
                                        <a href="#">Load more...</a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 208.511px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </section>
        <section class="widget widget-tabs">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#stats" data-toggle="tab">Users</a>
                    </li>
                    <li>
                        <a href="#report" data-toggle="tab">Favorites</a>
                    </li>
                    <li>
                        <a href="#dropdown1" data-toggle="tab">Commenters</a>
                    </li>
                </ul>
            </header>
            <div class="body tab-content">
                <div id="stats" class="tab-pane active clearfix">
                    <h5 class="tab-header"><span class="label label-primary"><i class="fa fa-facebook"></i></span> Last logged-in users</h5>
                    <ul class="news-list">
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Finees Lund</a></div>
                                <div class="position">Product Designer</div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Erebus Novak</a></div>
                                <div class="position">Software Engineer</div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                <div class="position">Chief Officer</div>
                                <div class="time">Last logged-in: Jun 6, 15:34</div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Frans Garey</a></div>
                                <div class="position">Financial Assistant</div>
                                <div class="time">Last logged-in: Jun 8, 17:20</div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="position">Sales Manager</div>
                                <div class="time">Last logged-in: Jun 8, 9:13</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="report" class="tab-pane">
                    <h5 class="tab-header"><i class="fa fa-star"></i> Popular contacts</h5>
                    <ul class="news-list news-list-no-hover">
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="options">
                                    <button class="btn btn-xs btn-success">
                                        <i class="fa fa-phone"></i>
                                        Call
                                    </button>
                                    <button class="btn btn-xs btn-warning">
                                        <i class="fa fa-envelope-o"></i>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Frans Garey</a></div>
                                <div class="options">
                                    <button class="btn btn-xs btn-success">
                                        <i class="fa fa-phone"></i>
                                        Call
                                    </button>
                                    <button class="btn btn-xs btn-warning">
                                        <i class="fa fa-envelope-o"></i>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Erebus Novak</a></div>
                                <div class="options">
                                    <button class="btn btn-xs btn-success">
                                        <i class="fa fa-phone"></i>
                                        Call
                                    </button>
                                    <button class="btn btn-xs btn-warning">
                                        <i class="fa fa-envelope-o"></i>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                <div class="options">
                                    <button class="btn btn-xs btn-success">
                                        <i class="fa fa-phone"></i>
                                        Call
                                    </button>
                                    <button class="btn btn-xs btn-warning">
                                        <i class="fa fa-envelope-o"></i>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Finees Lund</a></div>
                                <div class="options">
                                    <button class="btn btn-xs btn-success">
                                        <i class="fa fa-phone"></i>
                                        Call
                                    </button>
                                    <button class="btn btn-xs btn-warning">
                                        <i class="fa fa-envelope-o"></i>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="dropdown1" class="tab-pane">
                    <h5 class="tab-header"><i class="fa fa-comments"></i> Top Commenters</h5>
                    <ul class="news-list">
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Frans Garey</a></div>
                                <div class="comment">
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                    sed quia
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Finees Lund</a></div>
                                <div class="comment">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                    eu fugiat.
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="comment">
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt.
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Erebus Novak</a></div>
                                <div class="comment">
                                    Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque.
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/1.png")" alt="" class="pull-left img-circle">
                            <div class="news-item-info">
                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                <div class="comment">
                                    Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                                    et quasi.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>
                    Server Overview
                </h4>
                <div class="actions">
                    <small class="text-muted pull-right">2 days ago</small>
                </div>
            </header>
            <div class="body">
                <ul class="server-stats">
                    <li>
                        <div class="key pull-right">CPU</div>
                        <div class="stat">
                            <div class="info">60% / 37°C / 3.3 Ghz</div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">Mem</div>
                        <div class="stat">
                            <div class="info">29% / 4GB (16 GB)</div>
                            <div class="progress progress-small">
                                <div class="progress-bar" style="width: 29%;"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="key pull-right">LAN</div>
                        <div class="stat">
                            <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>