@model Omega.Presentation.Mvc.Models.OnlineBankingApi.EditApiCredentialsViewModel

@{
    ViewBag.ActiveMenu = "online-banking-api";
    ViewBag.BaseModel = Model;
}
<div>
    <div class="panel-body">
        @using (Html.BeginForm("UpdateCredentials", "OnlineBankingApi", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.Credentials.Id)
            @Html.HiddenFor(m => m.Credentials.Expires)
            <div class="form-group">
                @Html.LabelFor(m => m.Credentials.Username, new {@class = "col-md-3 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Credentials.Username, new {@class = "form-control"})
                </div>
            </div>
            if (Model.Credentials.Id > 0)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.NewSharedKey, new { @class = "col-md-3 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.NewSharedKey, new { @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(m => m.Credentials.SharedKey, new { @class = "col-md-3 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Credentials.SharedKey, new { @class = "form-control" })
                </div>
            </div>

            if (Model.Credentials.Id > 0)
            {
                <input type="submit" class="btn btn-default" name="button" value="Update" />
                <input type="submit" class="btn btn-default" name="button" value="Delete" />
            }
            else
            {
                <input type="submit" class="btn btn-default" name="button" value="Add" />
            }
        }
    </div>
</div>
